<link rel="stylesheet" href="yingxuetang/resources/css/articles.css" />

<div id="articles-main">
	<div id="articles-header">
		<img src="yingxuetang/resources/images/idea.png" id="logo" />
		<span id="title">最新资讯</span>
		<br />
		<span id="detail">鹰学堂最新资讯，尽在掌握</span>
	</div>

	<div id="articles-sort">
		<span title="按资讯更新时间升序排序" class="active" sort="DESC" type="time">时间排序</span> |
		<span title="按资讯热门程度降序排序" sort="ASC" type="hot">热门排序</span>
	</div>

	<div id="articles-list">
		
		
	</div>
	
	<div id="articles-page">
			<div class="page-box m-style"></div>
	</div>
</div>

<script type="text/javascript" src="yingxuetang/resources/js/articles.js"></script>