<link rel="stylesheet" href="yingxuetang/resources/css/main.css" />

<div id="main-index">
	<img src="yingxuetang/resources/images/main-index.png" />
</div>

<div id="main-hot-course">
	<div class="main-detail">
		<div class="main-title-div">
			<div>热门课程</div>
			<div><a href="yxt-index.html?action=courses&value=open-2"><i class="icon iconfont icon-gengduo"></i>更多</a></div>
		</div>

		<div class="main-course-div">
			
		</div>
	</div>
</div>

<div id="main-share-action">
	<div class="main-detail">
		<div class="more-left">
			<img src="yingxuetang/resources/images/share-action.png" />
		</div>
		<div class="more-right">
			<div class="more-aq">
				<div class="more-aq-tilte"><span>学员问答</span></div>
				<div class="aq-list">
					<div><i class="icon iconfont icon-tubiao-"></i>
						<a title="阿啊实打实大师三十多岁的发送到发送到发送到谁说的" href="article.html">阿啊实打实大师三十多岁的发送到发送到发送到谁说的</a>
					</div>
					<div><i class="icon iconfont icon-tubiao-"></i>
						<a title="阿啊实打实大师三十多岁的发送到发送到发送到谁说的" href="article.html">阿啊实打实大师三十多岁的发送到发送到发送到谁说的</a>
					</div>
					<div><i class="icon iconfont icon-tubiao-"></i>
						<a title="阿啊实打实大师三十多岁的发送到发送到发送到谁说的" href="article.html">阿啊实打实大师三十多岁的发送到发送到发送到谁说的</a>
					</div>
					<div><i class="icon iconfont icon-tubiao-"></i>
						<a title="阿啊实打实大师三十多岁的发送到发送到发送到谁说的" href="article.html">阿啊实打实大师三十多岁的发送到发送到发送到谁说的</a>
					</div>

				</div>
			</div>
			<div class="more-news">
				<div class="more-news-tilte"><span>最新资讯</span></div>
				<div class="news-list">
					<div><i class="icon iconfont icon-tubiao-"></i>
						<a title="阿啊实打实大师三十多岁的发送到发送到发送到谁说的" href="article.html">阿啊实打实大师三十多岁的发送到发送到发送到谁说的</a>
					</div>
					<div><i class="icon iconfont icon-tubiao-"></i>
						<a title="阿啊实打实大师三十多岁的发送到发送到发送到谁说的" href="article.html">阿啊实打实大师三十多岁的发送到发送到发送到谁说的</a>
					</div>
					<div><i class="icon iconfont icon-tubiao-"></i>
						<a title="阿啊实打实大师三十多岁的发送到发送到发送到谁说的" href="article.html">阿啊实打实大师三十多岁的发送到发送到发送到谁说的</a>
					</div>
					<div><i class="icon iconfont icon-tubiao-"></i>
						<a title="阿啊实打实大师三十多岁的发送到发送到发送到谁说的" href="article.html">阿啊实打实大师三十多岁的发送到发送到发送到谁说的</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="main-open-course">
	<div class="main-detail">
		<div class="main-title-div">
			<div>公开课程</div>
			<div><a href="yxt-index.html?action=courses&value=open-1"><i class="icon iconfont icon-gengduo"></i>更多</a></div>
		</div>

		<div class="main-course-div">
			
		</div>
	</div>
</div>

<div id="main-vip-course">
	<div class="main-detail">
		<div class="main-title-div">
			<div>VIP课程</div>
			<div><a href="yxt-index.html?action=courses&value=open-0"><i class="icon iconfont icon-gengduo"></i>更多</a></div>
		</div>

		<div class="main-course-div">
			
		</div>
	</div>
</div>

<script type="text/javascript" src="yingxuetang/resources/js/main.js"></script>