<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>学堂价值</title>
    <link href="yingxuetang/resources/css/school/school-index.css" rel="stylesheet" type="text/css">
    <link href="yingxuetang/resources/css/school/head-to-tail.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--banner -->
    <div class="banner"></div>

    <!--content -->
    <div class="content">
        <div class="content_img"><img src="yingxuetang/resources/images/school/index_10.png" width="352" height="231"></div>
        <div class="content_text"><p>鹰学堂是由鹰眼搜团队精心打造的外贸知识学习社区，通过鹰眼搜QQ群、微信群、网站、论坛、以及线下课堂等平台，进行系统化的外贸知识培训和交流。旨在让广大学员学以致用，培养外贸营销新思维，练就外贸实战真功夫。
        </p></div>
    </div>
    <div class="title1"><p>鹰学堂优势</p></div>
    <div class="title1_img"><img src="yingxuetang/resources/images/school/index_13.png" width="242" height="14"></div>
    <div class="super">
        <div class="super_1">
        <div class="img"><img src="yingxuetang/resources/images/school/peo_05.png" width="155" height="185"></div>
            <p class="p1"><span style="font-size:18px;">让应届毕业生</span></p>
            <p class="p2">具备更强的就业能力<br/>
抢占就业先机<br/>
更受企业欢迎
            </p></div>
        <div class="super_2">
        <div class="img"><img src="yingxuetang/resources/images/school/peo_09.png" width="155" height="185"></div>
        <p class="p1"><span style="font-size:18px;"> 让外贸小白</span></p>
            <p class="p2">
                掌握更多的实战技巧<br/>
快速适应工作<br/>
更受上司青睐
            </p></div>
        <div class="super_2">
        <div class="img"><img src="yingxuetang/resources/images/school/peo_03.png" width="155" height="185"></div>
        <p class="p1"><span style="font-size:18px;"> 让外贸精英</span></p>
            <p class="p2">
                获取更好的营销思维<br/>
                轻松应对客户<br/>
                拿下更多订单
            </p></div>
        
    </div>
    <div class="title2"><p>鹰学堂价值观</p></div>
    <div class="title1_img"><img src="yingxuetang/resources/images/school/index_13.png" width="242" height="14"></div>
    <div class="title4"><p>拒绝高大上 实战拿订单</p></div>
    <div class="super_3"><img src="yingxuetang/resources/images/school/index__03.png" width="1118" height="410"></div>
    <div class="super_3-text" style="margin-bottom: 140px;"><p>
        鹰学堂提供一切与外贸实战操作场景有关的课程干货。</p>
    <p style="margin-top: 20px;"><button onclick="location.href = 'yxt-index.html?action=courses&value=open-1';" class="btn-xx" style="cursor: pointer;">开始免费学习</button> <button onclick="location.href = 'yxt-index.html?action=courses&value=open-0'" class="btn-xx-vip" style="cursor: pointer;">进入VIP学习区</button></p></div>

</body>
</html>
