<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>课程预告</title>
    <link href="yingxuetang/resources/css/school/notice.css" rel="stylesheet" type="text/css">
    <link href="yingxuetang/resources/css/school/head-to-tail.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--content -->
    <div class="content"><p class="h1">课程预告</p></div>
    <div class="content1"><img src="yingxuetang/resources/images/school/01.png" width="1200" height="2171"></div>

    <div class="none"></div>
    <!--buttom -->
    <!--<div class="buttom">
        <div class="buttom_nav"><a href="../product/faq.html">常见问题</a><a href="../product/images/zhengshu.jpg">软件证书</a><a href="../about/Friendlink.html" ">友情链接</a><script src="https://s11.cnzz.com/stat.php?id=1254403822&web_id=1254403822" language="JavaScript"></script></div>
    <div class="buttom_text"><p>版权所有 © 深圳鹰眼搜科技有限公司　粤ICP备10063542号</p></div>
    </div>-->
</body>
</html>
