@charset "utf-8";
/* CSS Document */
body{margin:0 auto;font-size:12px; color:#333;font-family:"微软雅黑","黑体";}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p,input,textarea,i,em{padding:0;margin:0; font-weight:normal; font-style:normal;}
ul,li{list-style:none;}
input:focus , textarea:focus, select:focus , label:focus , option:focus{outline:none;}
img{ border:0 ;vertical-align: middle;}
p{color:#555; line-height:1.6em;}
a{color:#aaa; text-decoration:none;}
a:hover{color:#0aaa8b;}

.clear{clear:both;height:0;font-size:0;line-height:0px;}
.clearfix{zoom: 1;}
.clearfix:after {visibility: hidden;content: " "; display: block; clear: both; height: 0;}
*html .clearfix{zoom: 1;} /* IE6 */
*:first-child+html .clearfix {zoom: 1;} /* IE7 */
/*clearfix主要是用在浮动层的父层，而clear 主要是用在浮动层与浮动层之间，和浮动层同一级*/
.fl{float:left;}
.fr{float:right;}
.forced{display:block;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.icn{ background:url(../images/ico.png) no-repeat;}

/*间距*/
.blank05{clear:both; height:5px; overflow:hidden; display:block;}
.blank10{clear:both; height:10px; overflow:hidden; display:block;}
.blank15{clear:both; height:15px; overflow:hidden; display:block;}
.blank20{clear:both; height:20px; overflow:hidden; display:block;}
.blank30{clear:both; height:30px; overflow:hidden; display:block;}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
.header{width:100%;}
.main{width:100%;}
.footer{width:100%;}
.wrap{width:100%;max-width:1100px;_width:1100px;margin:0 auto;}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

.product{ padding:40px 0 40px 0; display:block; overflow:hidden;}
.product_top{ color:#005197; font-size:48px; text-align:center; margin-bottom:30px;}
.product_top span{ display:block; font-size:20px;}

.item01 , .item02 , .item03{ width:350px;border-left:1px solid #ddd;border-right:1px solid #ddd;box-shadow: 1px 1px 10px #ddd;}

.product .pt{ width:100%; height:56px; line-height:54px; color:#fff; font-size:24px; text-align:center; display:block; overflow:hidden;}


.product .pc{ display:block; text-align:center; color:#fff; padding:30px 0;}
.product .pc b{ font-size:40px; display:block;ont-weight:normal;}
.product .pc em{font-size:14px; line-height:24px; display:block;margin-bottom:10px;}
.product .pc a{ width:200px; height:46px; text-decoration: none; line-height:46px; margin:0 auto;display:block; overflow:hidden; border:1px solid #fff; border-radius:5px;color:#fff; font-size:24px;}
.product .pc a:hover{background:url(../images/black50.png) repeat; color:#fff;}

.product .pb{ padding:10px; height:56px; line-height:36px; font-size:24px; color:#fff;}
.product .pb a{ float:right; height:36px; line-height:36px; padding:0 10px; border:1px solid #fff; border-radius:5px; display:block; overflow:hidden; color:#fff; font-size:20px;}
.product .pb a:hover{ background:url(../images/black50.png) repeat;color:#fff;}

.product .dt{ line-height:42px; font-size:18px; background:#ddd; color:#333; width:100%; height:42px; display:block; text-align:center;}
.product .dd{ line-height:26px; padding:10px 0; color:#666; font-size:14px;width:100%; height:100%; display:block;text-align:center; box-sizing:border-box;}

.product .item01 .pt{ background:url(../images/pro_t1.png) repeat-x;}
.product .item02 .pt{ background:url(../images/pro_t2.png) repeat-x;}
.product .item03 .pt{ background:url(../images/pro_t3.png) repeat-x;}

.product .item01 .pc , .item01 .pb{ background:#2c2c2c;}
.product .item02 .pc , .item02 .pb{ background:#da5d00;}
.product .item03 .pc , .item03 .pb{ background:#005197;}

.product .item01 .pc b{ color:#00d8ff;}
.product .item02 .pc b{ color:#fff;}
.product .item03 .pc b{ color:#ffc000;}


